{% extends 'base.html.twig' %}

{% block title %}Book index{% endblock %}

{% block body %}
    {# {% if user %}
        <p>Hello {{ user.email }}</p>
    {% endif %} #}
   {{ include('series/partial/post_series.html.twig')}}

{% endblock %}
