<form method="post" action="{{ path('app_groupe_of_character_delete', {'id': groupe_of_character.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ groupe_of_character.id) }}">
    <button class="btn">Delete</button>
</form>
