{% extends '@EasyAdmin/page/content.html.twig' %}

{% block content %}
    <h1>Bienvenue dans le tableau de bord !</h1>
    <p>Utilisez le menu à gauche pour naviguer dans l'administration.</p>
{% endblock %}
