{% extends 'base.html.twig' %}

{% block title %}Book index{% endblock %}

{% block body %}
    {% if user %}
        <p>Hello {{ user.email }}</p>
    {% endif %}
   {{ include('book/partial/post_book.html.twig')}}

{% endblock %}
