{% extends 'base.html.twig' %}

{% block title %}Hello LoginController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <h1>Hello {{ controller_name }}! ✅</h1>

 <form action="{{ path('app_login') }}" method="post">
        <label for="username">Email:</label>
        <input type="text" id="username" name="_username" value="{{ last_username }}" required>

        <label for="password">Password:</label>
        <input type="password" id="password" name="_password" required>

        {# If you want to control the URL the user is redirected to on success
        <input type="hidden" name="_target_path" value="/account"> #}

        <button type="submit">login</button>
    </form>
    This friendly message is coming from:
    <ul>
        <li>Your controller at <code>/home/vaury/Bureau/Le_Codageur/projets/i_love_book/src/Controller/LoginController.php</code></li>
        <li>Your template at <code>/home/vaury/Bureau/Le_Codageur/projets/i_love_book/templates/login/index.html.twig</code></li>
    </ul>
</div>
{% endblock %}
